:root{
    --neonblue: #00ADB5;
    --offwhite: #EEEEEE;
    --greyish: #393E46;
}

body{
    margin: 0;
    padding: 0;
}

.neonblue-text{
    color: var(--neonblue);
}
.neonblue-bg{
    background-color: var(--neonblue);
}
.offwhite-text{
    color: var(--offwhite);
}
.offwhite-bg{
    background-color: var(--offwhite);
}

/* Landing Page */
.header{
    font-size: 5em;
}
#email-address{
    text-decoration: none;
    color: var(--neonblue);
}
#email-address:hover{
    text-decoration: underline var(--neonblue);
    color: var(--offwhite);
}

/* Contact Form */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid var(--neonblue);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
}

.feedback-input:focus { border:2px solid var(--offwhite); }

textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

[type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:var(--neonblue);
    border-radius:5px;
    border: solid thin var(--neonblue);
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}
[type="submit"]:hover { background: var(--greyish); }

/* Projects */

.code-demo{
    font-size: 2em;
    color: var(--neonblue);
    background-color: none;
}
.code-demo-button{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}
.code-demo:hover{
    color: var(--offwhite);
}

/* Skills */

.skills-icon{
    color: var(--offwhite);
    font-size: 7em;
}

@media only screen and (max-width: 600px) {
    .skills-icon{
        font-size: 4em;
    }
}

/* Resume */

#portrait{
    max-width: 250px;
    border-radius: 100%;
    border: var(--offwhite) solid;

}

#resume-img{
    max-width: 250px;
    border: var(--offwhite) solid;
}

#resume-img:hover{
    max-width: 250px;
    border: var(--neonblue) solid;
}